* {
   font-family: "Roboto";
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;
}

html, body, main {
   height: 100%;
}

main {
   max-width: 430px;
   margin: auto;
   position: relative;
}

body {
   background-image: url("images/background.svg");
}

.main-container {
   height: 100%;
}

.locSearchAndDisplay {
   height: 40%;
   background-color: #293551;
   color: white;
   position: relative;
   min-height: 200px;
}

.locSearchAndDisplay h1 {
   font-size: 28px;
   font-weight: 300;
}

.locSearchAndDisplay p {
   font-weight: 300;
   font-size: 0.9rem;
}

.locSearchAndDisplay h2 {
   display: inline-block;
   margin-bottom: 0px;
   font-size: 45px;
   font-weight: 300;
}

.location-search {
   display: flex;
   justify-content: left;
   padding: 8px 0;
}

.location-search > input {
   color: white;
   padding: 5px;
   background: transparent;
   outline: none;
   border: none;
   width: 25%;
   font-size: 14px;
}

.location-search > input::placeholder {
   color: white;
   font-size: 14px;
}

input[type=submit] {
   width: 27px;
   height: 27px;
   margin-left: 5px;
   background-color: white;
   background: url("images/searchLocation.svg") no-repeat;
   background-size: cover;
   background-position: center;
   cursor: pointer;
}

.weatherDisplay {
   margin: 15px 0;
   padding: 0 20px;
   display: flex;
}

.wd-left {
   flex-basis: 67%;
}

#location-name{
   font-size: 1.9rem;
   margin-bottom: 5%;
}

#date {
   font-size: 0.9rem;
   margin-bottom: 5%;
}

#weather-descr {
   font-size: 1.2rem;
}

.wd-right {
   flex-basis: 33%;
}

.temp-value {
   position: absolute;
   bottom: 15px;
   right: 20px;
}

.weatherParams {
   height: 48%;
   display: flex;
   flex-wrap: wrap;
   background-color: white;
   min-height: 260px;
}

.info-items-up, .info-items-down {
   display: flex;
   height: 50%;
   align-items: center;
}

.info-item-up-left, 
.info-item-up-right, 
.info-item-down-left, 
.info-item-down-right {
   flex-basis: 50%;
   text-align: center;
}  

.info-item-up-left > h3, 
.info-item-up-right > h3, 
.info-item-down-left > h3, 
.info-item-down-right > h3 {
   font-size: 1.2rem;
   color: #293551;
   margin-bottom: 10%;
   font-weight: 600;
}

.info-item-up-left > p, 
.info-item-up-right > p, 
.info-item-down-left > p, 
.info-item-down-right > p {
   display: inline-block;
   color: #293551;
}
/* section koji se prikazuje odabirom opcije prognoze za 5 dana */
.week-weatherParams {
   background-color: white;
   overflow: auto;
   display: flex;
   flex-direction: column;
   min-height: 48%;
   justify-content: center;
}

.invisible {
   display: none;
}

.fiveDaysForecast {
    display: flex;
    align-items: center;
}

.fiveDaysForecast > div {
    padding: 5px;
    color:#293551;
    height: 20%;
    flex-basis: 25%;
    text-align: center;
}

.fiveDaysForecast #weekly-temp {
    color: #293551;
}
/* poslednja sekcija sa navigacijom za period za koji želimo da vidimo vremensku prognozu */
.navigation {
   height: 12%;
   background-color: #e7e7e8;
   min-height: 55px;
   display: flex;
}

.navigation > div {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
   flex-basis: 50%;
   text-align: center;
   align-items: center;
}

.navigation h3 {
   margin: 5% 0 0;
   font-size: 0.8rem;
   color: #293551;
}

.active-nav {
   background-color: #d3d3df;
}
